table{
    width: 100%;
}

table td {
    padding: 10px;
    text-align: justify;
}

.mat-column-description{ /* make sure you write exactly the name you used on the mat cell table */
    width: 35% !important;
}